<form (ngSubmit)="addItem()" class="mb-3">
    <input type="text" [(ngModel)]="item.name" name="name" placeholder="Name" class="form-control mb-2" required>
    <input type="text" [(ngModel)]="item.description" name="description" placeholder="Description" class="form-control mb-2">
    <input type="number" [(ngModel)]="item.price" name="price" placeholder="Price" class="form-control mb-2" required>
    <button class="btn btn-primary w-100">Add</button>
</form>
<div *ngIf="message" class="alert alert-success">{{ message }}</div>
